SUBSCRIBIE_DOMAIN="subscriby.shop"                                               
SUBSCRIBIE_REPO_DIRECTORY="/path/to/subscribie/"

# SITES_DIRECTORY, the path where site config is stored (on a filesystem)
SITES_DIRECTORY="/path/subscription-website-deployer/sites/"

# PYTHON_VENV_DIRECTORY (created using virtualenv) shared between all sites
PYTHON_VENV_DIRECTORY="/path/to/venv"

PYTHON_PATH_INJECT=/path/to/subscribie/
EMAIL_LOGIN_FROM="noreply@example.com"                                           
MAIL_SERVER="email.example.com"                                                  
MAIL_USERNAME="noreply@example.com"                                              
MAIL_PASSWORD="password"                                                         
MAIL_USE_TLS="True"                                                              
MAIL_PORT="25"

# Stripe connect api keys (not keys of shop owner)
STRIPE_LIVE_SECRET_KEY=
STRIPE_LIVE_PUBLISHABLE_KEY=

STRIPE_TEST_SECRET_KEY=
STRIPE_TEST_PUBLISHABLE_KEY=

STRIPE_CONNECT_ACCOUNT_ANNOUNCER_HOST=

HONEYCOMB_API_KEY=secret

# Google oauth (signin / up with Google)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI="http://127.0.0.1:5000/google-oauth2callback/"
GOOGLE_RESPONSE_TYPE=code
GOOGLE_SCOPE="email openid profile"
