[uwsgi]
# Example uwsgi emperor config
# run with: uwsgi --ini config.ini 
strict = true
protocol = uwsgi
master = true
pidfile = uwsgi.pid
emperor = ./sites/*/*.ini
#fastrouter = /tmp/sock1
fastrouter = 127.0.0.1:8001
chown-socket = www-data:www-data
chmod = 777
fastrouter-subscription-server = /tmp/sock2
vacuum = true

