[Unit]
Description=manage subscribie deployer
After=syslog.target

# See https://uwsgi-docs.readthedocs.io/en/latest/Systemd.html

[Service]
ExecStart=/path-to/venv/bin/uwsgi --ini api.subscribie.co.uk.ini
WorkingDirectory=/path-to/subscribie
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
[Install]
WantedBy=multi-user.target
